<div class="container"><br>
  <table class="table table">
      <h6 align="right"><a href="/login">Back to Login</a></h6>
  <div class = "myCSS row ">
  <br><br>
  <form class="form form-group column" role="form">

    <input [(ngModel)]="dateofbirth" name = "dateofbirth" type="date" style="height:70px;" class="form-control input-lg mb-2 mr-sm-2" placeholder="Select Date of Birth">
    <input [(ngModel)]="NewPassword" name = "NewPassword" type="text" 
    #box (keyup)="CheckPasswordPolicy(box.value)" style="height:70px;" class="form-control input-lg mb-2 mr-sm-2" placeholder="Enter New Password">
    <input [(ngModel)]="ConfirmPassword" name = "ConfirmPassword" type="text" style="height:70px;" class="form-control input-lg mb-2 mr-sm-2" placeholder="Enter Confirm Password">


    <div class="form-check mb-2 mr-sm-2">
    </div>    
    &nbsp;
  <button (click)="ResetPassword()" type="button" class="button">Reset Password</button>&nbsp;&nbsp;

</form>
<div class="column">
  <h1 style="font-family: Comic Sans MS; font-size: 8rem">{{Answer}}</h1>
  <h5 style="font-family: Comic Sans MS; color: red; font-size: 3rem;font-weight: bold">{{ErrorMessage}}</h5>
<span class="blink" style="font-family: Comic Sans MS; color: rgb(0, 255, 55); font-size: 1.5rem;">{{Message}}</span>
</div>
</div>
</table>
</div>